# Puerto en el que correrá el servidor Express (5000)
PORT=5000

# URI de conexión a la base de datos MongoDB 
# (mongodb://localhost:27017/lamilanga para local o URI de Atlas para producción)
MONGODB_URI=

# Clave secreta para firmar y validar los Json Web Tokens (JWT) de autenticación
JWT_SECRET=
